<script>
    import '../css/footer.css'
    import discord from '../assets/footer/discord.svg'
    import github from '../assets/footer/github.svg'
    import mail from '../assets/footer/mail (1).svg'
    import medium from '../assets/footer/medium.svg'
    import telegram from '../assets/footer/telegram.svg'
    import youtube from '../assets/footer/youtube (1).svg'
    let links = [discord, telegram, medium, youtube, github, mail]
    let footerItems = [
        {
            main: 'Learn', 
            contents: [
                {href: '#services', text: 'Services'},
                {href: '#technology', text: 'Technology'},
                {href: '#roadmap', text: 'Roadmap'},
                {href: '#press', text: 'Press'},
                {href: '#getOct', text: 'Get OCT'}
            ]
        },
        {
            main: 'Ecosystem',
            contents: [
                {href: '#contact', text: 'Contact'},
                {href: '#ambassadors', text: 'Ambassadors'},
                {href: '#appchains', text: 'Appchain Candidates'},
                {href: '#partners', text: 'Partners'},
                {href: '#backers', text: 'Backers'},
            ]
        },
        {
            main: 'Resources',
            contents: [
                {href: '', text: 'Resources'},
                {href: '', text: 'Brand Assets'},
                {href: '', text: 'Octopus Guild'},
                {href: '', text: 'Octopus Accelerator'},
                {href: '', text: 'Octopus Ambassador'},
                {href: '', text: 'Bug Bounty'},
            ]
        },
    ]
</script>

<footer>
    <div class="flex-row footer">
        <img src="..//Image/octopus_logo_black.png" alt="">
        {#each footerItems as {main, contents}}
            <div class="footer-item">
                <div class="flex-column">
                    <b>{name}</b>
                    {#each contents as {href, text}}
                        <a href={href}>{text}</a>
                    {/each}
                </div>
            </div>
        {/each}
        
    </div>
    <div class="endw">
        <div class="flex-row bottom">
            <div class="bottom-item">     
                © 2022 
                <strong>
                    <span>Octopus Network</span>
                </strong>
                . All Rights Reserved
            </div>
            <div class="bottom-item">
                {#each links as link}
                    <a href=""><img src={link} alt=""></a>
                {/each}
            </div>
        </div>
    </div>
        
</footer>