<script>
    import octLogoWhite from '../assets/header/octopus_logo_white.png'
    import '../css/header.css'

    let lis = [
        {clas: 'header-nav-item', href: '/#', text: 'FAGS'},
        {clas: 'header-nav-item', href: '/#', text: 'ROADMAP'},
        {clas: 'header-nav-item', href: '/#', text: 'BLOG'},
        {clas: 'header-nav-item', href: '/#', text: 'ECOSYSTEM'},
        {clas: 'header-nav-item', href: '/#', text: 'GET OCT'},
        {clas: 'header-nav-item', href: '/#', text: 'DOCS'},
        {clas: 'header-nav-item-1', href: '/#', text: 'WHITEPAPER'},
    ]

</script>

<header>
    <div class="notification">
        <p>OCT ERC20 token:<a href="/#">0xf5cfbc74057c610c8ef151a439252680ac68c6dc</a>, a part of them have been bridged to NEAR as <a href="/#">NEP141 token</a></p>
    </div>
    <div class="container sticky">
        <div class="row-header">
            <a href="/#" class="logo">
                <img width="100" height="40" src={octLogoWhite} alt='Oct logo'>
            </a>
            <nav>
                <ul>
                    {#each lis as { clas, href, text }, i}
                        <li class={clas}><a href={href}>{text}</a></li>
                    {/each}
                </ul>
            </nav>
        </div>
    </div>
</header>

