<script>
    import '../css/roadmap.css'
    let content1 = [
        {content: 'Fraud Proofs'},
        {content: 'NEAR/Appchain NFT Transfer'},
        {content: 'EVM Appchain Template'},
        {content: 'RPC Gateway'},
        {content: 'Astar - Cosmos Bridge'}
    ]

    let season = 1  //mask current time for roadmap

    let roadmapList = [
        {
            season: 1,
            time: '2022 Q1', 
            contents: [ 
                {content: 'Fraud Proofs'},
                {content: 'NEAR/Appchain NFT Transfer'},
                {content: 'EVM Appchain Template'},
                {content: 'RPC Gateway'},
                {content: 'Astar - Cosmos Bridge'} 
            ]
        },
        {
            season: 2,
            time: '2022 Q2',
            contents: [
                {content: 'Appchain Forker'},
                {content: 'Octopus DAO V1'},
                {content: 'Astar - Cosmos Bridge'},
                {content: 'IBC Bridge for Octopus Appchain - Cosmos'}
            ]
        },
        {
            season: 3,
            time: '2022 Q3',
            contents: [
                {content: 'LPoS to PoS Toolset'},
                {content: 'Octopus DAO V2'},
                {content: 'IBC Bridge for Octopus Appchain - Polkadot'}
            ]
        },
        {
            season: 4,
            time: '2022 Q4',
            contents: [
                {content: 'Octopus DAO V2'},
                {content: 'Octopus DAO V3'},
                {content: 'IBC Bridge for Octopus Appchain - Polkadot'}
            ]
        }
    ]
</script>

<section id="roadmap">
    <div class="section-title flex-row haveAnimation fadeIn">
        <b>Roadmap</b>
    </div>
    <div class=" haveAnimation fadeInDown">
        
        <ul class="roadmap-list flex-row">
            {#each roadmapList as roadmapItem, index}
                <li class="roadmap-list-li">
                    <div class="column">
                            <b class="roadmap_q">{roadmapItem.time}
                                {#if roadmapItem.season == 1}
                                    <div class="roadmap-point"></div>
                                {/if}
                            </b>
                            {#each roadmapItem.contents as item}
                                <p>{item.content}</p>
                            {/each}
                    </div>
                </li>
            {/each}
        </ul>
    </div>

</section>