<script>
    import '../css/backers.css'
    import near from '../assets/backers/01.near_logo.png'
    import conti from '../assets/backers/02.continue_logo.png'
    import d1 from '../assets/backers/03.d1-logo.png'
    import seven from '../assets/backers/04.sevenx.png'
    import puzzle from '../assets/backers/05.puzzle_ventures.png'
    import dcg from '../assets/backers/06.youbi.png'
    import pnyx from '../assets/backers/07.DCGlogo.png'
    import electric from '../assets/backers/08.pnyx.png'
    import ascen from '../assets/backers/09.Electric Capital.png'
    import gfs from '../assets/backers/10.Ascensive Assets.png'

    let backers = [
        near, conti, d1, seven, puzzle, dcg, pnyx, electric, ascen, gfs
    ]
</script>

<section id="backers">
    <h3 class="haveAnimation fadeInDown">Backers</h3>
    <div class="partners-flex-row haveAnimation fadeInDown">
        {#each backers as item}
            <img class="partners-img hover-up" src={item} alt="">
        {/each}
        
</section>