<script>
    import '../css/octToken.css'
    import staking from '../assets/octToken/OCT-icon-stacking.svg'
    import voting from '../assets/octToken/OCT-icon-voting.svg'
    import governance from '../assets/octToken/OCT-icon-governance.svg'
    let title = 'The OCT Token'
    let content = 'The OCT token is a unit of value that is native to the Octpus network. It represents a medium of exchange between users & developers who pay to use the network and validators who take the fees as payment for the services they provide.'
    let tokenItems = [
        {srcImg: staking, text: 'Staking', alt: 'staking img'},
        {srcImg: voting, text: 'Voting', alt: 'voting img'},
        {srcImg: governance, text: 'Governance', alt: 'governanece img'}
    ]
</script>

<section id="oct-token">
    <div class="column oct-token-item">
        <div class="flex-row oct-token-title  haveAnimation fadeIn">
            <b>{title}</b>
        </div>
        <p class="align-center oct-token-text haveAnimation fadeIn">
            {content}
        </p>
        <div class="flex-row token_icons haveAnimation biggerFromCorner">
            {#each tokenItems as {srcImg, text, alt}}
                <div class="token_item">
                    <img class="oct-token-img" src={srcImg} alt={alt}>
                    <p>{text}</p>
                </div>
            {/each}
        </div>
    </div>
</section>