<script>
    import '../css/technology.css'
    import techImg from '../assets/technology/technology.svg'
    let para1 = 'The core of the Octopus Network is the Octopus Relay — a set of smart contracts running on the NEAR blockchain, aka mainchain, that implements the security leasing market. Octopus Network appchains sit on the demand side of the market. They pay rent in their native tokens to lease security from $OCT holders. $OCT holders that delegate their $OCT by staking on appchains have the opportunity to diversify their investment profiles with a wide variety of protocols.'
    let para2 = 'The Octopus Relay enables appchains’ interoperability with NEAR protocol and Ethereum via the Rainbow Bridge. Additionally, appchains can utilize an out-of-box IBC pallet to connect with any IBC enabled blockchains directly. Thus, assets issued on Ethereum, NEAR, or any IBC enabled blockchain transfer into Octopus Network appchains trustlessly. Conversely, assets issued on appchains can be transferred trustlessly to Ethereum, NEAR, and any IBC enabled blockchain.'
</script>

<section id="technology">
    <div class="section-title flex-row haveAnimation leftToRight"><b>Technology</b></div>
    <div class="flex-row technology haveAnimation biggerFromBot">
        <div class="flex-column tech-item">
            <p class="tech-paragraph">
                {para1}
            </p>
            <p class="tech-paragraph">
                {para2}
            </p>
        </div>
        <img class="tech-item" src={techImg} alt="">
    </div>
</section>  