

<script>
    import '../css/partners.css'
    import near from '../assets/partners/01.near_logo.png'
    import octopus from '../assets/partners/02.octopus.png'
    import cosmos from '../assets/partners/03.cosmos.png'
    import solana from '../assets/partners/04.solana.png'
    import chainlink from '../assets/partners/05.chainlink.png'
    import arweave from '../assets/partners/06.arweave.png'
    import kyve from '../assets/partners/07.kyve.png'
    import platon from '../assets/partners/08.platon.png'
    import flow from '../assets/partners/09.flow.png'
    import oasis from '../assets/partners/10.oasis.png'
    import astar from '../assets/partners/11.astar.png'
    import bewater from '../assets/partners/12.bewater.png'
    let imgSrcs = [
        near, octopus, cosmos, solana, chainlink, arweave, kyve, platon, flow, oasis, astar, bewater
    ]
</script>

<section id="partners">
    <h3 class="haveAnimation fadeInDown">Partners</h3>
        <div class="partners-flex-row haveAnimation fadeInDown">
            {#each imgSrcs as src}
                <img class="partners-img hover-up" src={src} alt="">
            {/each}
        </div>
</section>
