<script>
    import '../css/section1.css'
    let slogan = 'Where Web3.0 Happens'
    let text = 'The Octopus Network is a multichain interoperable cryptonetwork for launching and running Web3.0 Substrate-based application-specific blockchains, aka appchains. The Octopus Network is committed to unleashing a new wave of innovation for Web3.0.'
    let videoTrailerSrc = 'https://www.youtube.com/watch?v=duptV_LjjRM'
</script>


<section id="hero" class="flex-column justify-content-center">   
    <div class="flex-row">
        <div class="hero-item flex-column fadeInDown haveAnimation">
            <div class="section-title flex-row">
                <b>{slogan}</b>
            </div>
            <p>{text}</p>
            <div class="hero-item-flex-row">
                <a href="/#" class="btn mainnet">MAINNET</a>
                <a href="/#" class="btn accelerator">ACCELERATOR</a>
            </div>
        </div>
        <div class="hero-item haveAnimation bigger">
            <video src="{videoTrailerSrc}" type="video/mp4"> 
        </div>
    </div>
</section>