<script>
    import '../css/services.css'
    import icon1 from '../assets/services/ICON.svg'
    import icon2 from '../assets/services/ICON2.svg'
    import icon3 from '../assets/services/ICON3.svg'
    import icon4 from '../assets/services/ICON4.svg'
    let serviceText = 'Appchains in the Octopus Network benefit from being both autonomous blockchains and members of a well-connected network with access to rich services and facilities.'
    let serviceItems = [
        {clas: 'flex-column services-item', imgSrc: icon1, alt: '', service: 'Security', content: 'The Octopus Relay provides unprecedented flexible and cost-effective leased security. Appchains decide how much security they want and how much they are willing to pay for it.'},
        {clas: 'flex-column services-item', imgSrc: icon2, alt: '', service: 'Interoperability', content: 'Appchains enjoy out-of-the-box interoperability, including trustless interaction with NEAR, Ethereum, and any IBC enabled blockchains.'},
        {clas: 'flex-column services-item', imgSrc: icon3, alt: '', service: 'Infrastructure', content: 'Infrastructure support for appchains includes testnet, RPC gateway, indexer, block explorer, wallet integration, archive service, and more.'},
        {clas: 'flex-column services-item', imgSrc: icon4, alt: '', service: 'Community', content: 'The Octopus Network acts as a meta-community that scaffolds new appchain communities via fundraising, recruiting, know-how sharing, tokenomics design, token listing, and more.'},
    ]
</script>

<section id="services">
    <div class="flex-row services section-title">
        <b>Servives</b>
    </div>
    <div class="">
        <p class="services-text">{serviceText}</p>
    </div>

    <div class="flex-row">
        {#each serviceItems as {clas, imgSrc, alt, service, content } }
            <div class={clas}>
                <div class="services-img"><img src={imgSrc} alt=""></div>
                <b>{service}</b>
                <p class="align-left">{content}</p>
            </div>
        {/each}
    </div>
</section>