<script>
    import '../css/ecosystem.css'
    import youtube from '../assets/ecosystem/youtube.svg'
    import mail from '../assets/ecosystem/mail.svg'
    import medium from '../assets/ecosystem/medium.svg'
    import telegram from '../assets/ecosystem/telegram.svg'
    import linked from '../assets/ecosystem/linked.svg'
    import aaron from '../assets/ecosystem/aaron.png'
    let ecoItems = [
        {srcImf: aaron, name: 'Aaron Ting', job: 'Head of Marketing', links: [{href: '', img: youtube}, {href: '', img: linked}, {href: '', img: mail}]},
        {srcImf: aaron, name: 'Suzanne Leigh', job: 'Editor', links: [{href: '', img: linked}, {href: '', img: mail}]},
        {srcImf: aaron, name: 'Sheldon Dearr', job: 'Technical Lead', links: [{href: '', img: linked}, {href: '', img: mail}]}
    ]
    let advisors = [
        {srcImf: aaron, name: 'Aaron Ting', job: 'Head of Marketing', links: [{href: '', img: youtube}, {href: '', img: linked}, {href: '', img: mail}]},
        {srcImf: aaron, name: 'Suzanne Leigh', job: 'Editor', links: [{href: '', img: linked}, {href: '', img: mail}]}
    ]
    let ambass = [
        {srcImf: aaron, name: 'Aaron Ting', job: 'Head of Marketing', links: [{href: '', img: youtube}, {href: '', img: linked}, {href: '', img: mail}]},
        {srcImf: aaron, name: 'Suzanne Leigh', job: 'Editor', links: [{href: '', img: linked}, {href: '', img: mail}]}
    ]
</script>


<section id="ecosystem">
    <div class="section-title eco-title flex-row">
        <b>Ecosystem</b>
    </div>
    <div id="contact" class="eco-item-margin">
       <div class="line-white haveAnimation smallerFromTop"></div>
        <div class="eco-item-title haveAnimation smallerFromTop">   
            <h3>Contact</h3>
            <p>Please feel free to get in touch with the Octopus Network team members.</p>
        </div>
        <div class="flex-row haveAnimation fadeInDown">
            {#each ecoItems as {srcImg, name, job, links}}
                <div class="flex-column eco-item">
                    <div class="flex-row">
                        <img class="eco-item-img" src={srcImg} alt="">
                    </div>
                    <b>{name}</b>
                    <p>{job}</p>
                    <div class="flex-row">
                        {#each links as link}
                            <a href={link.href}><img src={link.img} alt=""></a>
                        {/each}
                    </div>
                </div>
            {/each}
            
        </div>
    </div>
    <div id="advisors" class="eco-item-margin">
        <div class="line-white"></div>
        <div class="eco-item-title haveAnimation smallerFromTop">   
            <h3>Advisors</h3>   
            <p>Some of the most experienced experts in blockchain, financial technology, and investing are here to guide our accelerator and you.</p>
        </div>
        <div class="flex-row haveAnimation fadeInDown">
            {#each advisors as {srcImg, name, job, links}}
                <div class="flex-column eco-item">
                    <div class="flex-row">
                        <img class="eco-item-img" src={srcImg} alt="">
                    </div>
                    <b>{name}</b>
                    <p>{job}</p>
                    <div class="flex-row">
                        {#each links as link}
                            <a href={link.href}><img src={link.img} alt=""></a>
                        {/each}
                    </div>
                </div>
            {/each}
        </div>
    </div>
    <div id="Ambassadors" class="eco-item-margin">
        <div class="line-white"></div>
        <div class="eco-item-title haveAnimation smallerFromTop">   
            <h3>Ambassadors</h3>   
            <a href="#" class="ambas-link">Join Octopus Ambassador Program!</a>
        </div>
        <div class="flex-row haveAnimation fadeInDown">
            {#each ambass as {srcImg, name, job, links}}
                <div class="flex-column eco-item">
                    <div class="flex-row">
                        <img class="eco-item-img" src={srcImg} alt="">
                    </div>
                    <b>{name}</b>
                    <p>{job}</p>
                    <div class="flex-row">
                        {#each links as link}
                            <a href={link.href}><img src={link.img} alt=""></a>
                        {/each}
                    </div>
                </div>
            {/each}
        </div>
    </div>
</section>