
<script>
    import '../css/mail.css'
</script>
<section id="mail" class="flex-column">
    <div class="section-title mail-item">
        <b>Join the Octopus mailing list</b>
    </div>
    <div class="mail-item">
        <p>Subscribe for the latest Octopus Network updates and insightful analysis on Web3.0</p>
    </div>
    <form>
        <div class="flex-row mail-box">
            <input type="mail" placeholder="you@exaxmple.com" class="mail-box-1">
            <input type="submit" value="SUBSCRIBE" class="mail-box-2">
        </div>
    </form>
    <div id="mail-error">
        <p>Please enter a valid email address</p>
    </div>

</section>