<script>
    import '../css/promotion.css'
    import accelerator from '../assets/promotion/accelerator.jpg'
    import bugbounty from '../assets/promotion/BugBounty.jpg'
    import contest from '../assets/promotion/WritingContest.jpg'
    
    let listPromotion = [
        {href: '/#', clas: 'hover-up box-shadow-black', src: accelerator, alt: ''},
        {href: '/#', clas: 'hover-up box-shadow-black', src: bugbounty, alt: ''},
        {href: '/#', clas: 'hover-up box-shadow-black', src: contest, alt: ''},
    ]

</script>

<section id="promotions">
    <div class="flex-row haveAnimation">
        {#each listPromotion as { href, clas, src, alt }, i}
            <div class="promotion-item">
                <a href={href}> <img class={clas} src={src} alt={alt}></a>
            </div>
        {/each} 
    </div>
</section>