

<section id="FAQs">
    <div class="section-title flex-row haveAnimation smallerFromTop">
        <b>FAQs</b>
    </div>
    <div class="">
        <ul class="faqs-list flex-row">
            {#each faqsItems as {collapse, content}, index}
                <li class="haveAnimation fadeInDown faqs-item">
                    <button type="button" class="faqs-item-collapse"> 
                        <b> 
                            {collapse}
                        </b>
                    </button> 
                    <div class="faqs-item-content">
                        {#each content as text}
                            <p>{text}</p>
                        {/each}
                    </div>
                </li>
            {/each}
            
        </ul>
    </div>
</section>

<script>
    
        import '../css/faqs.css'
        import '../handle/faqs.js'
        let faqsItems = [
            {collapse: 'What is the Octopus Network?', content: ['The Octopus Network is a multichain cryptonetwork for launching and running Web3.0 application-specific blockchains — appchains. Appchains in the Octopus Network benefit from flexible and cost-effective leased security (LPoS),out-of-the-box multichain interoperability, complete infrastructure, and a ready-to-be-engaged community. The core of the Octopus Network is the Octopus Relay — a set of smart contracts running on the NEAR blockchain, aka mainchain, that implements the security leasing market.']},
            {collapse: 'What is an appchain?', content: ['An appchain, or application-specific blockchain, is an independent blockchain used explicitly for a specific set of custom-designed applications. Unlike dApps, appchains allow developers to customize their applications in terms of governance structure, economic design, and underlying consensus algorithm.', 'Each appchain is a self-governed economy with code-defined explicit processes to reach agreements on protocol upgrades. Appchains have dedicated transaction processing capacity and can easily achieve 1000 TPS throughput and fast finality. In addition, appchains in the Octopus Network can scale their security as they need it, reducing the cost of publishing an appchain by a factor of 100.']},
            {collapse: 'What is Substrate?', content: ['Substrate is an open-source development framework created by Parity Tech for building blockchain technologies. All kinds of blockchains can be built on Substrate, such as stand-alone chains, Polkadot parachains, and Octopus Network appchains.']},
            {collapse: 'What is NEAR?', content: ['NEAR Protocol is a sharded proof-of-stake (PoS) blockchain that emphasizes scalability and usability. NEAR is often referred to as a ready-made scalability solution for existing Ethereum dApps, but it is equally capable of handling a suite of other types of decentralized solutions — such as appchains. The Octopus Network chose to build on NEAR because it offers a more cost-effective, scalable, user-friendly, and interoperable L1 solution for building appchains.']},
            {collapse: 'What is the $OCT token?', content: ['$OCT, the native token of the Octopus Network, is a fungible, non-inflationary token with three primary utilities. $OCT is used to provide collateral to guarantee appchain security, select appchain candidates by upvoting and downvoting mechanisms, and governance. $OCT is an NEP141 token on NEAR protocol.']},
            {collapse: 'How can Web3.0 teams build an appchain on the Octopus Network?', content: ['Any Substrate-based chain can apply to become an appchain in the Octopus Network. Registration is permissionless but requires a white paper or spec and a runtime release that has been internally tested and audited. Please refer to the Development Guides tolearn more .']},
            {collapse: 'What is the Octopus Accelerator Programme?', content: ['The Octopus Accelerator Programme is a collection of open and composable courses and seminars available to both Substrate developers and Web3.0 teams funded by the Octopus Foundation. Courses are held quarterly, followed by a Demo Day event to select the top five appchain projects and provide them with up to $250k in total rewards per quarter. The Octopus Foundation will directly fund 20 appchain projects through the Octopus Accelerator Programme each year, granting them up to $1M in total per year. Projects that successfully pass the process may also receive tech support and strategic partnerships.']}
        ]
        
    </script>