<script>
    import '../css/press.css'
    import bloom from '../assets/press/01-bloomberg.png'
    import start from '../assets/press/02-startupfortune.png'
    import tech from '../assets/press/03-techbullion.png'
    import hacker from '../assets/press/04-hackernoon.png'

    let pressItems = [ 
        {imgSrc: bloom, alt: '', text: 'Octopus Network will Launch on Skyward Finance on August 22nd'},
        {imgSrc: start, alt: '', text: 'Octopus Netwrork Ushers in Web3.0: An Interview with Louis Liu, Founder of the Octopus Network'},
        {imgSrc: tech, alt: '', text: 'Octopus Network (OCT) is the New Contender for the Internet of Blockchains'},
        {imgSrc: hacker, alt: '', text: 'Polkadot Vs. COSMOS Vs. Octopus Network Vs. NEAR Protocol: Fat Hubs Are Better Than Hub Minimalism'}
    ]

</script>

<section id="press">
    <div class="section-title flex-row haveAnimation smallerFromTop">
        <b class="press_title">Press</b>
    </div>
    <div class="flex-row haveAnimation smallerFromTop">
        {#each pressItems as item}
            <div class="press_item">
                <img src={item.imgSrc} alt={item.alt}>
                <p>{item.text}</p>
            </div>
        {/each}
    </div>
</section>