<script>
    import '../css/getoct.css'
    import ref from '../assets/getoct/getOCT-ref.png'
    import uni from '../assets/getoct/getOCT-uniswap.png'
    import gate from '../assets/getoct/getOCT-gate.io.png'
    import mex from '../assets/getoct/getOCT-mexc.png'
    import bibox from '../assets/getoct/getOCT-bibox.png'
    import jubi from '../assets/getoct/getOCT-jubi.png'
    import dna from '../assets/getoct/getOCT-dnalab-logo-trans.png'

    let getoctItems = [
        {href: '', imgSrc: ref, alt: ''},
        {href: '', imgSrc: uni, alt: ''},
        {href: '', imgSrc: gate, alt: ''},
        {href: '', imgSrc: mex, alt: ''},
        {href: '', imgSrc: bibox, alt: ''},
        {href: '', imgSrc: jubi, alt: ''},
        {href: '', imgSrc: dna, alt: ''},
    ]
</script>

<section id="getOct">
    <div class="section-title flex-row haveAnimation smallerFromTop">
        <b>Get OCT</b>
    </div>
    <div class="getOct-imgs haveAnimation smallerFromTop">
        <div class="flex-row-getOct">
            {#each getoctItems as {href, imgSrc, alt}}
                <div class="getOct-item">
                    <a href={href}><img src={imgSrc} alt={alt}></a>
                </div>
            {/each}
        </div>
    </div>
</section>