<script>
  //import logo from './assets/svelte.png'
  //import Counter from './lib/Counter.svelte'
  import Header from './lib/header.svelte';
  import Section1 from './lib/section1.svelte';
  import Section2 from './lib/section2promotion.svelte';
  import Section3 from './lib/section3services.svelte';
  import Section4 from './lib/section4technology.svelte';
  import Section5 from './lib/section5octToken.svelte';
  import Section6 from './lib/section6roadmap.svelte';
  import Section7 from './lib/section7press.svelte';
  import Section8 from './lib/section8getOCT.svelte';
  import Section9 from './lib/section9faqs.svelte';
  import Section10 from './lib/section10ecosystem.svelte'
  import Section12 from './lib/section12partners.svelte'
  import Section13 from './lib/section13backers.svelte'
  import Section14 from './lib/section14mail.svelte'
  import Section10ecosystem from './lib/section10ecosystem.svelte';
  import Footer from './lib/footer.svelte'
</script>

<Header/>
<main>
    <Section1/>
    <Section2/>
    <Section3/>
    <Section4/>
    <Section5/>
    <Section6/>
    <Section7/>
    <Section8/>
    <Section9/>
    <Section10/>
    <Section12/>
    <Section13/>
    <Section14/>
    <Footer/>
</main>
