.animate-biggerFromBot{
    position: relative;
    animation-name: animate-biggerFromBot;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-fadeIn{
    position: relative;
    animation-name: animate-fadeIn;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-bigger{
    position: relative;
    animation-name: animate-bigger;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-biggerFromCorner{
    position: relative;
    animation-name: animate-biggerFromCorner;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-fadeInDown{
    opacity: 0;
    position: relative;
    animation-name: animate-fadeInDown;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-leftToRight{
    position: relative;
    animation-name: animate-leftToRight;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-smaller{
    position: relative;
    animation-name: animate-smaller;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .animate-smallerFromTop{
    position: relative;
    animation-name: animate-smallerFromTop;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

@keyframes animate-fadeIn{
    0%   {  opacity: 0;}
    25%  { opacity: 0.25;}
    50%  {  opacity: 0.5;}
    75%  { opacity: 0.75;}
    100% { opacity: 1;}
}


@keyframes test{
  from {top: 50px; transform: scale(0.5);}
  to {top: 0px; transform: scale(1);}
}

@keyframes animate-biggerFromBot{
  from {top: 50px; transform: scale(0.5); opacity: 0;}
  to {top: 0px; transform: scale(1); opacity: 1;}
}

@keyframes animate-biggerFromCorner{
  from {top: 30px; left: 100px; transform: scale(0.5); opacity: 0;}
  to {top: 0px; left: 0px; transform: scale(1); opacity: 1;}
}

@keyframes animate-fadeInDown {
  from {top: 100px; opacity: 0;}
  
  to {top: 0px; opacity: 1;}
}

@keyframes animate-leftToRight{
  from {right: 50px; transform: scale(0.7); opacity: 0;}
  to {right: 0px; transform: scale(1); opacity: 1;}
}

@keyframes animate-smaller{
  from {transform: scale(1.5); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}

@keyframes animate-bigger{
  from {transform: scale(0.5); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}


@keyframes animate-smallerFromTop{
  from {bottom: 50px; transform: scale(1.5); opacity: 0;}
  to {bottom: 0px; transform: scale(1); opacity: 1;}
}



/* hover */
.hover-up:hover{
    position: relative;
    animation-name: animate-up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.hover-opacityDown:hover{
    position: relative;
    animation-name: opacity-down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.opacityDown-backwards{
  position: relative;
  animation-name: opacity-down;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

.box-shadow-black:hover{
  box-shadow: 0px 10px 15px 10px #393d41;
}

@keyframes opacity-down{
  from {opacity: 1;}
  to {opacity: 0.5;}
}

@keyframes animate-up{
  from {bottom: 0px;}
  to {bottom: 5px;}
}