#ecosystem{
    background-color: #193EB5;
}

#ecosystem p{
    color: white !important;
}

#ecosystem h3{
    color: white !important;
}

#ecosystem b{
    color: white !important;
}

.eco-item-margin{
    margin: 0px 10% 0px 10%;
}

.line-white{
    background-color: white !important;
    max-width: 100%;
    height: 1px;
    margin: 0px 15% 0px 15%;
}

.eco-item-title{
    text-align: center;
}

.eco-item-title h3{
    font-size: 40px;
    padding: 70px 0px 30px 0px;
}

.eco-item-img{
    border-radius: 50%;
    width: 172px;
    height: 172px;
}

.eco-item{
    text-align: center;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.eco-item b{
    font-size: 18px;
    margin: 20px 0px 5px 0px;
    
}

.eco-item a>img{
    width: 26px;
}

.eco-item div>a{
    margin: 0px 2px 0px 2px;
}

.ambas-link{
    color: white !important;
}