#FAQs{
    background-color: #F6F8F9;
}


.faqs-item{
   width: 80%; 
}



.faqs-item-collapse{
    width: 100%;
    background-color: white;
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 22px 5%;
    border: none;
    text-align: left;
    outline: none;
}

.faqs-item-collapse b{
    font-size: 20px;
    color: black;
}

.faqs-item-collapse b:hover{
    color: #3095FF;
}

.faqs-item-content{
    width: 100%;
    background-color: white;
    text-align: left;
    display: none;
    padding: 0px 5% 22px 5%;
    transition: max-height 1s ease-out;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}