
footer .flex-row{
    justify-content: space-between;
}

footer{
    padding: 120px 0px 70px 0px;
}

.footer{
    margin: 0px 5% 0px 5%;
    padding: 0px 15px 0px 15px;
}

.footer img{
    height: 52px;
}

.footer a{
    text-decoration: none;
}

.footer-item b{
    margin: 30px 0px 18px 0px;
    font-size: 25px;
    color: black;
}

.footer-item{
    line-height: 30px;
}

footer .bottom{
    line-height: 40px;
    margin: 0px 5% 0px 5%;
    padding: 0px 15px 0px 15px;
}
.bottom img{
    height: 24px;
    margin: 0px 12px 0px 0px;
}

.endw{
    margin-top: 70px;
    padding: 15px 0px;
}