.flex-row-getOct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 4;
}

.getOct-item{
    margin-bottom: 16px;
    padding: 0px 15px 0px 15px;
    width: 25%;
    box-sizing: border-box;
}

.getOct-imgs{
    padding: 0px 5% 0px 5%;
}

.getOct-item img{
    max-width: 100%;
}