html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


button{
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

*{
    font-family: sans-serif;
    letter-spacing: 0.3px;
    font-size: 16px;
    color: #37474fb8;
    line-height: 1.2;
}


p, b{
    padding-bottom: 5px;
    padding-top: 5px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.row{
    display: flex;
    flex-direction: row;
    
}

.column{
    display: flex;
    flex-direction: column;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}

.justify-content-center{
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
section{
    padding: 70px 6%;
    overflow: hidden;
}
.section-title b{
    font-size: 48px;
    color: black;
    margin-bottom: 50px;
    padding-bottom: 2px;
}
