.notification p{
    font-family: sans-serif;
    margin: 0 auto;
    width: 100%; 
    background: #46505b;
    padding: 20px 0px 20px 0px;
    color: white;
    text-align: center;
}
.notification p a{
    color: white;
}
.row-header{
    display: flex;
    align-items: center;
    background: blue;
    margin: 0 auto;
    opacity: 0.8;
    justify-content: center;
    height: 70px;
    width: 100%;
}
.header-nav-item a{
    color: white;
    border-style: hidden;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    margin: 0px 0px 0px 5px;
    padding: 5px 15px 7px;
}
.header-nav-item-1 a{
    color: #193eb5;
    border-style: hidden;
    border-radius: 5px;
    font-size: 14px;
    width: 10%;
    height: 6.3%;
    margin: 0px 0px 0px 5px;
    padding: 5px 15px 7px;
}
.header-nav-item a:link{
    text-decoration: none;
}
.header-nav-item a:hover{
    background-color: aqua;
}
.header-nav-item-1 a{
    background-color: white;
}
.header-nav-item-1 a:link{
    text-decoration: none;
}

.logo{
    margin-left: 5%;
    margin-right: 15%;
}