
#mail{
    text-align: center;
    min-height: 500px;
    background-color: #193EB5;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

#mail b{
    color: white;
}

#mail p{
    color: white;
}

.mail-box{
    height: 75px;
    width: 100%;
    /* max-width: 1000px; */
    background-color: #f6f6f6;
    border-radius: 7px;
}

.mail-box-1{
    width: 55%;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: left;
    border-style: none;
}

#mail-error{
    display: none;
}

.mail-box-2{
    width: 45%;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: center;
    color: #193EB5;
    border-style: none;
}

.mail-item{
    margin-bottom: 28px;
}
