#oct-token{
    background-color: #193eb5;
    text-align: center;
}

#oct-token p{
    color: white;
}
#oct-token b{
    color: white;
}
.oct-token-title b{
    font-size: 48px;
}

.oct-token-text{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 50px;
}
.token_item{
    width: 30%;
    padding: 18px;
    box-sizing: border-box;
}