#partners h3{
    text-align: center;
    font-size: 40px;
    color: black;
    margin: 70px 0px 30px 0px;
    padding: 0px 0px 40px 0px;
    box-sizing: border-box;
}
.partners-flex-row{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    
}

.partners-img{
    max-width: 100%;
    height: 50px;
    padding: 10px 15px;
}
