.press_title{
    margin-bottom: 8px;
    margin-bottom: 50px;
}

.press_item{
    width: 21%;
    box-shadow: 5px 5px 5px 5px #f6f6f6;
    margin: 0px 15px 15px 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.press_item img{
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.press_item p{
    border-radius: 0 0 15px 15px;
    padding: 15px;
    height: 100%;
    padding: 0px 10px 0px 10px;
    color: #214ee0;
}