.roadmap_item{
    float: left;
    width: 25%;
}

.roadmap_q{
    color: #3095ff;
    padding-bottom: 35px;
    font-size: 20px;
    text-align: center;
}

ul.roadmap-list{
    list-style-type: initial;
}

.roadmap-list li{
    width: 20%;
}

.roadmap-list p{
    display: list-item;
    list-style-type: disc;   
    list-style-position: inside;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.roadmap-list-li::before{
    content: "";
    position: absolute;
    width: 20%;
    border-bottom: 4px solid rgba(47, 91, 234, 0.5);
    transform: translateY(43px);
}
.roadmap_q::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    transform: translate3d(25px, 28px, 10px);
    border: 2px solid blue;
}


.roadmap-point::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: blue;
    z-index: 1;
    transform: translate3d(-7.5px, 11px, 10px);
}