#hero{
    min-height: 400px;
}

#hero .flex-column{
    justify-content: space-around;
}

.hero-item{
    margin-left: 25px;
    width: 40%;  
    padding-bottom: 20px;
    box-sizing: border-box;
}

.hero-item h2{
    margin: 0px 0px 30px 0px;
    text-align: center;
}
.hero-item p{
    margin: 0px 0px 15px 0px;
    max-height: 880px;
    line-height: 30px;
}

.hero-item-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.btn{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
}

.mainnet{
    background-color: white;
    color: #2f5bea;
}

.accelerator{
    background-color: #ffb01c;
    color: white;
}