#services{
    padding-right: 10%;
    padding-left: 10%;
}

.services b{
    font-size: 48px;
    color: black;
}

.services-item img{
    max-width: 50%;
}
.services-item b{
    color: #3095ff;
    padding-top: 48px;
    margin-bottom: 8px;
    font-size: 20px;
}

.services-text{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.services-item{
    max-width: 20%;
    padding: 20px;
}