#technology{
    padding: 20px 10% 20px 10%;
}

#technology b{
    color: black;
    font: 48px;
    padding-left: 20px;
}
#technology .flex-row{
    justify-content: space-between;
}
.tech-paragraph{
    margin-bottom: 24px;  
}

.tech-item{
    max-width: 40%;
    padding-left: 20px;
    padding-right: 20px;
}